@keyframes slideInBottom {
    from {
        opacity: 0;
        filter: blur(2px);
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes arrowFade1 {
    from {
        opacity: 0;
        filter: blur(2px);
        transform: translateY(30px);
        transform:rotate(320deg)
    }
    to {
        opacity: 1;
        transform: translateY(0);
        transform: rotate(270deg);
    }
}
@keyframes arrowFade2 {
    from {
        opacity: 0;
        filter: blur(2px);
        transform: translateY(30px);
        transform: rotate(220deg);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        transform: rotate(180deg);
    }
}

@keyframes iconSlideInBottom {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeBottom{
    animation: slideInBottom 0.7s cubic-bezier(.39,.21,.12,.96);
    animation-fill-mode: forwards;
}

.arrowFade1{
    animation: arrowFade1 0.9s cubic-bezier(.39,.21,.12,.96);
    animation-fill-mode: forwards;
}
.arrowFade2{
    animation: arrowFade2 0.9s cubic-bezier(.39,.21,.12,.96);
    animation-fill-mode: forwards;
}

.animateFadeBottom{
    animation: iconSlideInBottom 0.7s cubic-bezier(.39,.21,.12,.96);
    animation-fill-mode: forwards;
}